/* SOURCE */

body {
    background-color: #272A2C;
    font-family: inter, sans-serif;
}

.navbar {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
}

.navicon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 960px;
    height: 50px;
    margin-inline-start: 70px;
    margin-top: 10px;
}

a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #FF8C00;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }







/* INDEX PAGE BELOW HERE */

.lilla {
    max-width: 920px;
    background-color: #1B203D;
    display: block;
    justify-content: right;
    padding: 5px 40px 16px 0;
    font-size: 30px;
    margin: 0 auto;
}

.gotw {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 845px;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    font-style: italic;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerimage {
    margin: 0 10px;
    width: auto;
    height: 170px;
    margin: 0 10px;
}

.blackline {
    background-color: black;
    height: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.backgroundimage {
    z-index: -1;
    position: absolute;
    max-width: 960px;
    width: 100%;
}

.trending {
    max-width: 960px;
    max-height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.container {
    text-align: center; 
}

.text {
    font-size: 35px;
    margin-top: 50px;
    text-decoration: underline;
    color: #ffffff;
    text-shadow: black 2px 2px;
}

@media (max-width: 720px) {
    .backgroundimage{
        display: none;
    }
}

.overlay {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    margin: 40px 0px 100px 0px;
}

.box {
    width: 200px;
    height: 310px;
    background-color: #424649;
    z-index: 1;
    border-radius: 5px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 8px 16px 4px 16px; 
}

.box img {
    max-width: 80%; 
    max-height: 80%;
    display: block; 
    margin-bottom: 16px;
}

.boximg.small-stars {
    padding: 5px; 
}

.buttonbox {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}

.bag {
    background-color: #1B203D;
    text-shadow: 2px 2px #000000;
    padding: 10px 40px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
.bag:hover {
    background-color: #2d3357;
}

.support {
    position: relative;
    min-height: 196px;
    max-width: 960px;
    margin: auto;
    background-color: #424649;
    border: 5px black;
    text-decoration-color: #ffffff;
    padding-left: 10px;
}

.supblock {
    width: 700px;
    max-width: calc(100vw - 235px);
    padding: 5px;
    color: #ffffff;
}

@media (max-width: 630px) {
    .supvector{
        display: none
    }
}

.suptitle{
    text-shadow: 2px 2px #000000;
}

.supvector {
    position: absolute;
    right: 0;
    top: 0;
}

.suph1 {
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
    text-shadow: black;
    text-decoration: solid;
}

.contactbutton {
    height: 40px;
    width: 200px;
    background-color: #1B203D;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.contactbutton:hover {
    background-color: #2d3357;
}








/* ASSASSIN PAGE BELOW HERE */

.assassintitle {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    color: #ffffff;
    z-index: 1;
    text-shadow: black 2px 2px;
}

.assassincontainer {
    position: relative;
    width: 960px;
    margin: 0 auto;
    z-index: 1;
}

.game-info-container {
    margin-top: 20px;
    max-width: 960px;
    margin: auto;
    background-color: #424649;
    display: flex;
    align-items: start;
    color: #ffffff;
}

.game-thumbnail {
    width: 150px;
    margin: 20px;
}

.game-info {
    flex-grow: 1; 
    padding: 20px;
}

.game-description {
    font-size: 18px;
    color: #ffffff;
    padding-right: 20px;
    text-align: justify;
    margin-top: 0;
}

.button-container {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.orange-button {
    background-color: #FFA500;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: auto;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.orange-button:hover {
    background-color: #FF8C00;
}

.price {
    color:#ffffff;
    font-size: 35px;
    text-align: right;
    margin-right: 20px;
}


/* ALL_GAMES PAGE BELOW HERE */

.allgamescontainer {
    position: relative;
    width: 960px;
    margin: 0 auto;
    z-index: 1;
}

.allgamestitle {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    color: #ffffff;
    z-index: 1;
    text-shadow: black 2px 2px;
}

.allgamesflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    max-width: 960px;
    position: relative;
}

.gamebox {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 310px;
    background-color: #424649;
    z-index: 1;
    border-radius: 5px;
    justify-content: center;
    margin: 0px 20px; 
    margin-bottom: 20px;
}

.gamebox img {
    max-width: 80%; 
    max-height: 80%;
    display: block; 
    margin: 20px auto 0 auto;
    padding: 0px 0px;
}

.gametitle {
    color: #ffffff;
    max-width: 200px;
    font-size: 20px;
    white-space: none;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 5px;
}

.allgamespurchase {
    position: absolute;
    bottom: 10px; 
    left: 10;
    text-align: center;
}

  
.purchase-button {
    position: absolute;
    bottom: 10px; 
    left: 10;
    text-align: center;
}










/* ABOUT US PAGE BELOW HERE*/

.aboutustext{
    max-width: 960px;
    justify-content: center;
    margin: 30px auto;
    color: #ffffff;
}

.aboutustitle {
    color: #ffffff;
    display: inline-block;
    padding-right: 50px;
    line-height: 50%;
    border-bottom: 1px solid #ffffff;
}

.aboutuslogo {
    float: right;
    width: 250px;
    margin-top: 30px;
}

.aboutmain {
    max-width: 960px;
    justify-content: center;
    margin: 30px auto;
    color: #ffffff;
}

.gallery {
    display: grid;
    align-items: left;
    justify-content: left;
    grid-template-columns: repeat(2, 249px);
    grid-template-rows: repeat( 2, 249px);
    grid-gap: 100px;
    object-fit: cover;
    margin-bottom: 150px;
}

.gallery_img {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}











/* SUPPORT PAGE BELOW HERE */

.contact {
    position: relative;
    min-height: 250px;
    max-width: 960px;
    margin: auto;
    background-color: #424649;
    border: 5px black;
    text-decoration-color: #ffffff;
    padding-left: 10px;
}

.contactblock {
    width: 700px;
    max-width: calc(100vw - 370px);
    padding: 5px;
    color: #ffffff;
}

@media (max-width: 644px) {
    .contactvector{
        display: none
    }
}

.contacttitle {
    text-shadow: 2px 2px #000000;
}

.contactsell {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.contactvector {
    position: absolute;
    right: 0;
    top: 0;
    height: 250px
}

.contacth1 {
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
    text-shadow: black;
    text-decoration: solid;
}

.contactsheet {
    max-width: 960px;
    position: relative;
    justify-self: center;
    margin: 30px auto 30px auto;
}

label {
    color: #ffffff;
}
input[type=text], select, textarea {
    width: 100%;
    align-items: center;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 25px;
    resize: vertical;
  }
  
  input[type=submit] {
    align-items: right;
    background-color: #FF8C00;
    color: white;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 140px;
  }
  
  input[type=submit]:hover {
    background-color: #FFA500;
  }
  
  .contactcontainer {
    border-radius: 5px;
    background-color: #272A2C;
    padding: 20px;
  }

.contactinfobox {
    width: 190px;
    height: 130px;
    position: relative;
    margin: 0px 30px 20px 30px;
    align-items: center;
}

.contactinfo {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.contactinfotext {
    color: white;
    list-style-type: none;
    text-justify: left;
}

.contactinfocontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 960px;
    
}

.contactlogo {
    height: 100%;
    margin: 30px 30px 20px 30px;

}









/* CART PAGE BELOW HERE */

.cartmain {
    position: relative;
    width: 700px;
    text-align: left;
    margin: auto;
}

.cartheader{
    max-width: 960px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carttext {
    max-width: 920px;
    margin: 20px 0 30px 0px;
    color: #ffffff;
}


.mycart{
    text-align: center;
    max-width: 920px;
    display: inline-block;
    padding-right: 50px;
    border-bottom: 1px solid #ffffff;
    font-weight: 100;
    margin: 0 0 30 0px;
}

.cartgame {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    justify-content: center;
    background-color: #424649;
    color: #ffffff;
    margin: 30px;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
}

.cartgame img {
    width: 100px
}



.pricebox {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    background-color: #424649;
    text-align: center;
    align-items: center;
    margin: 100px auto;
    color: #ffffff;
    padding: 30px 30px 30px 130px;
    border-radius: 5px;
}

.priceboxprice{
    display: flex;
    width: 100px;
}

.whiteline {
    border-top: 1px solid white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 24px;
}

.proceedbuttoncontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px auto;
    padding-left: 40%;

}

.proceedbutton {
    align-items: right;
    background-color: #FF8C00;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    width: 130px;
}

.proceedbutton:hover {
    background-color: #FFA500;
}









/* CART 2 PAGE BELOW HERE */

.cart2container {
    display: flex;
    flex-wrap: wrap;
    background-color: #424649;
    min-height: 240px;
    max-width: 920px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.cart2box {
    display: flex;
    border: none 2pt solid;
    background-color: none;
    height: 180px;
    width: 140px;
    margin: 0 40px 0 40px;
    color: white;
    justify-content: center;
}

.cart2box img {
    object-fit: scale-down;
}

.cart2boxtext {
    margin-top: 50%;
}

.checkoutcontainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    
    margin-top: 50px;
    margin-bottom: 80px;
  
    position: relative;
    max-width: 800px;
    height: auto;
  
    border-radius: 16px;
    background-color: #1B203D;
    
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #exit {
    align-self: flex-end;
  }
  
.checkouth1 {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: #ffffff;
  }
  
  label {
    font-weight: 600;
  }
  
  input {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    padding: 16px 24px;
    width: 90%;
    height: 15%;
    left: 1048px;
    top: 16px;
    background: #FFFFFF;
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .exp-cvc {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  
  .expiration {
    font-size: 0.75rem;
    width: 50%;
    margin-right: 20px;
  }
  
  .security {
    font-size: 0.75rem;
    width: 50%;
    margin-left: 20px;
  }
  
  span {
    padding-left: 5px;
    cursor: pointer;
  }
  
  .checkoutsubmit {
    background-color: #FF8C00;
    border: 1px solid #1B1B1B;
    color: #ffffff;
    border-radius: 5px;
    padding: 16px 32px 16px 16px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
    
    width: 141px;
    height: 56px;
    left: 16px;
    top: 88px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
  }
  
  .checkoutsubmit:hover{
    background-color: #FFBB38;
  }
  



/* CHECK OUT PAGE HERE */

.checkoutcontainergreen {
    text-align: center;   
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    
    margin-top: 50px;
    margin-bottom: 80px;
  
    max-width: 800px;
    height: auto;
  
    border-radius: 16px;
    background-color: #1B203D;
    
    box-sizing: border-box;
    border-radius: 8px;
  }


.greentic {
    justify-content: center;
    align-items: center;
}

.success {
    color: white;
}

.btn2 {
    justify-content: center;
    align-items: center;
}

.return {
    background-color: #FF8C00;
    border: 1px solid #1B1B1B;
    color: #ffffff;
    border-radius: 5px;
    padding: 16px 16px 16px 16px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
    
    width: 141px;
    height: 56px;
    left: 16px;
    top: 88px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .return:hover{
    background-color: #FFBB38;
  }














  


/* FOOTER */

.supboxes {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    margin: 10px 0px 0px 0px;
}

.supbox {
    width: 200px;
    height: 270px;
    background-color: #1B203D;
    color: #ffffff;
    z-index: 1;
    border-radius: 5px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 16px 30px 4px 30px; 
}

.supbox ul {
    margin-top: 0;
    }

.supbox li {
line-height: 40px;
}

.copyright {
    text-align: center;
    color: white;
}